<!-- start of footer-section -->
<footer class="footer-section px-60">
  <div class="upper-footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col col-lg-4 col-md-6 col-sm-12 col-12">
          <div class="widget newslatter-widget">
            <div class="logo">
              <img
                src="{{ 'logo.png' | asset_url }}"
                alt=""
                width=""
                height="">
            </div>
            <p>Subscribe to our newsletter.</p>
            <form action="#">
              <input type="text" placeholder="mail@gmail.com">
              <button>Submit</button>
            </form>
          </div>
        </div>
        <div class="col col-lg-3 col-md-3 col-sm-12 col-12">
          <div class="widget link-widget">
            <div class="widget-title">
              <span>Forceflex</span>
            </div>
            <ul>
              <li><a href="#">Shop All</a></li>
              <li><a href="#">Technology</a></li>
              <li><a href="#">Lifestyle</a></li>
              <li><a href="#">FAQ</a></li>
            </ul>
          </div>
        </div>
        <div class="col col-lg-3 col-md-3 col-sm-12 col-12">
          <div class="widget link-widget custom">
            <div class="widget-title">
              <span>Contact Us</span>
            </div>
            <ul>
              <li><a href="#">Mail</a></li>
              <li><a href="#">Phone</a></li>
              <li><a href="#">Chat with us</a></li>
            </ul>
          </div>
        </div>
        <div class="col col-lg-2 col-md-6 col-sm-12 col-12">
          <div class="widget link-widget custom">
            <div class="widget-title">
              <span>Policies</span>
            </div>
            <ul>
              <li><a href="#">Warranty</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Returns</a></li>
              <li><a href="#">Legal</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  <!-- end container -->
  </div>
  <div class="lower-footer">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="copy-wrap">
          <p class="copyright">&copy;Reserved Rights,
            <a href="#">
              Forceflex</a>
            2024</p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- end of site-footer-section -->